*{
    box-sizing: border-box;
}
body{
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    overflow: hidden;
    background: linear-gradient(45deg, rgb(230, 230, 237), rgb(84, 198, 46));
    height: 100vh;
}
.container{
    width: 100%;
    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: center;
}
.slide{
    height: 80vh;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    color: black;
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transition: all 0.5s ease-in-out;
}
.slide h3{
    position: absolute;
    background: rgba(255, 255, 255, 0.299);
    font-size: 32px;
    bottom: 20px;
    left: 0px;
    margin: 0;
    opacity: 0;
    padding-left: 20px;
    padding-right: 20px;
}
.slide.active{
    flex: 10;
}
.slide.active h3{
    opacity: 1;
    transition: opacity .3s ease-in 0.4s;
}
.sliderbutton{
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: black;
    opacity: 0.5;
    cursor: pointer;
}
#navbuttonprev{
    top: 40%;
    left: 0;
    transform: translateY(-70%);
}
#navbuttonnext{
    top: 40%;
    right: 0;
    transform: translateY(-70%);
}
#navbuttonprev::after, #navbuttonnext::after{
    content: "";
    position: absolute;
    border: solid rgb(255, 255, 255);
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 3px;
    width: 40%;
    height: 40%;
}
#navbuttonnext::after{
    top: 50%;
    right: 80%;
    transform: translate(75%, -50%) rotate(-45deg);
}
#navbuttonprev::after{
    top: 50%;
    right: 50%;
    transform: translate(75%, -50%) rotate(135deg);
}
.slidernav{
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.slidernavlink{
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px white solid;
    background-color: black;
    opacity: 0.8;
    margin: 0 10px 0 10px;
    cursor: pointer;
}
.slidernavlink.active{
    background-color: white;
    border: 1px black solid;
}